.shop-item{
height: 10%;
}
.shop-card-img{
    height: 35rem;
}
.shop-card-img img{
    width: 100%;
    height: 50%;
    border-radius:15px 15px 0 0;
}
.products{
    padding: 2rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1rem;
}